.emails-input__root {
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #c3c2cf;
  cursor: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: auto;
  padding: 5px;
  width: 100%;
}

.emails-input__root__input {
  border: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: Open Sans;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  outline: none;
}

.emails-input__root__input::-webkit-input-placeholder {
  color: #c3c2cf;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.emails-input__root__input::-webkit-input-placeholder,
.emails-input__root__input::-moz-placeholder,
.emails-input__root__input:-ms-input-placeholder,
.emails-input__root__input::-ms-input-placeholder,
.emails-input__root__input::placeholder {
  color: #c3c2cf;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.emails-input__root__pill {
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  color: #050038;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  margin-right: 8px;
  margin-top: 4px;
  padding: 0 8px 0 10px;
}

.emails-input__root__pill--invalid {
  background: #fff;
  border-bottom: 1px dashed #d92929;
  border-radius: 0;
  padding: 0;
}

.emails-input__root__pill__button {
  background: none;
  border: none;
  margin-left: 8px;
}
